* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  background-image: url('./assets/head_background.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  padding: 30px;
  text-align: left;
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.row {
  display: flex;
}

.side {
  flex: 30%;
  background-color: #f0f0f0;
  padding: 20px;
}

.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

td {
  vertical-align: top;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
}

figure {
  border: 1px #cacaca solid;
  padding: 4px;
  text-align: center;
}

figcaption {
  font-style: italic;
  padding: 2px;
}

.justify {
  text-align: justify;
}

li {
  text-align: justify;
}

.btn {
  display: inline-block;
  width: 40%;
  border: none;
  background-color: grey;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0px 10px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #ddd;
  color: black;
}

.container {
  text-align: center;
}

#topBtn {
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}

@media screen and (orientation: portrait) {
  .row {
    flex-direction: column-reverse;
  }
  .navbar {
    flex-direction: column;
  }
  .header {
    padding: 10px;
    background-image: url('./assets/mobile_background.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  figure > img {
    max-width: 100%;
    height: auto;
  }
  .container > img {
    max-width: 100%;
    height: auto;
  }

  iframe{
    aspect-ratio: 16 / 9;
    max-width: 100%;
    height: 100%;
  }
}

@media print {
  .header, .footer, .navbar, .side {
    display: none;
  }
}